<%= content_for(:bg_area) do %>
  <div class="jumbotron jumbotron-fluid bg_area">
    <div class="container">
      <h1 class="display-4 lead text-left">コーディネートを共有できるコミュニティサイト</h1>
    </div>
  </div>
<% end %>
