<%= content_for(:bg_area) do %>
  <div class="jumbotron jumbotron-fluid bg_area">
    <h2 class="display-4 lead text-left code-end">コーディネートを共有できるコミュニティサイト</h1>
  </div>
<% end %>
<section class="container-fluid px-0 topapage-fashion">
  <div class="row align-items-center">
    <div class="col-lg-6 honger">
      <h2 class="text-center d-none d-lg-block">服装選びに困っていませんか？</h2>
    </div>
    <div class="col-lg-6">
      <div class="row justify-content-center">
        <div class="col-1">
        </div>
        <div class="col-md-11 content-top">
          <img class="img-fluid" src="/assets/23shimari96a_TP_V4.jpg">       
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 order-2 order-md-1">
      <div class="row justify-content-center">
        <div class="col-1">
        </div>
        <div class="col-md-11 content-top">
          <%= image_tag 'ogasuta458A7873_TP_V4.jpg' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-1 order-md-2 cafe">
      <h2 class="text-right">シーン別にコーディネートしたい</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 order-1">
      <h2 class="text-center">結局いつも同じような格好になってしまう</h2>
    </div>
    <div class="col-md-6 order-2">
      <div class="row justify-content-center">
        <div class="col-1">
        </div>
        <div class="col-md-11 content-top">
          <%= image_tag '31190065_s.jpg' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 order-2 order-md-1">
      <div class="row justify-content-center">
        <div class="col-1">
        </div>
        <div class="col-md-11 content-top">
          <%= image_tag '31090884_s.jpg' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-1 order-md-2 cafe">
      <h2 class="text-center">そんな悩みを解決するサイト</h2>
    </div>
  </div>
</section>





