@use '~bootstrap/scss/bootstrap.scss';

.kuu-haku{
  margin-top: 100px;
}

.bg_area {
  height: 70vh;
  width: 100%;
  background-image: url("../images/IMG_E1155.JPG");
  background-size: cover;
  background-position: top 20% left 50%;
}


.lead {
  font-size:50px;
}

.honger{
    text-align: center;
    color:#000011;
}

.cafe{
    text-align: center;
    color:#000011;
}

.content-top{
  margin-top: 100px;
}

.code-end{
  color:#000011;
  text-align: center;

}

.nav-huto{
   font-weight: bold;
}

.namae{
  margin-top: 400px;
}

.img-fluid {
  max-width: 100%; /* 親要素の幅に合わせる */
  height: auto;    /* 高さを自動調整 */
}

.mozi-mozi{
  margin-top: 100px;
}

.nav-item{
  margin-left: 10px; /* 左のマージン */
  margin-right: 10px; /* 右のマージン */
}

/*postページ*/
.list-images{
  width: 220px;
  height: 220px;
}

.list-title{
  font-weight: bold;
  font-size: 40px;
}

.kensaku{
  text-align: right;
}

.tags{
   font-weight: bold;
   font-size: 25px;
   margin-top: 10px;
}

.hennsyuu{
  text-align: right;
}

.honnbunn{
  margin-top: 40px;
 

  
}