@use '~bootstrap/scss/bootstrap.scss';

.kuu-haku{
  margin-top: 100px;
}

.bg_area {
  height: 70vh;
  width: 100%;
  background-image: url("../images/IMG_E1155.JPG");
  background-size: cover;
  background-position: top 20% left 50%;
}


.lead {
  font-size:50px;
}

.honger{
    text-align: center;
    color:#000011;
}

.cafe{
    text-align: center;
    color:#000011;
}

.content-top{
  margin-top: 100px;
}

.code-end{
  text-align: right;
  color:#000011;
  
}

.nav-huto{
   font-weight: bold;
}

.namae{
  margin-top: 400px;
}

.img-fluid {
  max-width: 100%; /* 親要素の幅に合わせる */
  height: auto;    /* 高さを自動調整 */
}
