@use '~bootstrap/scss/bootstrap.scss';

.bg_area {
  height: 70vh;
  width: 100%;
  background-image: url("../images/IMG_E1155.JPG");
  background-size: cover;
  background-position: top 20% left 50%;
}

.lead {
  font-size:50px;
  font-weight: bold;
  position: absolute;
}