<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>写真</th>
      <th>本文</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if posts.any? %>
      <% posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td>
            <%= image_tag post.image,size: "100x100" %>
          </td>
          <td><%= post.body.truncate(15) %></td>
          <td><%= link_to "詳細", post_path(post.id), class: "btn btn-outline-primary" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">投稿がまだありません。</td>
      </tr>
    <% end %>
  </tbody>
</table>


