<h1 class="my-5">投稿一覧</h1>

<div class="my-4">
  <%= form_with url:  mypage_path, method: :get do |f| %>
    <%= f.search_field :keyword, value: params[:keyword] %>
    <%= f.submit "search" %>
  <% end %>
</div>

<%= render "posts/posts", posts: @posts %>



